https://github.com/KittenML/KittenTTS/releases/download/0.8.1/kittentts-0.8.1-py3-none-any.whl
fastapi
uvicorn
soundfile
numpy
onnxruntime
huggingface_hub
misaki[en]>=0.9.4
spacy
espeakng_loader
num2words
phonemizer-fork
addict
regex
